*{
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_headerImage {
  object-fit: contain;
}
.app_signup {
  display: flex;
  flex-direction: column;
}
.app_posts {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.app_postsRight {
  margin-left: 18px;
}